<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.CasCompanyAppDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.CasCompanyApp">
		INSERT INTO CAS_COMPANY_APP (
		   	ID,
		   	APP_ID,
		   	EFFECTIVE_DATE,
		   	EXPIRY_DATE,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{appId,jdbcType=BIGINT},
		   	#{effectiveDate,jdbcType=TIMESTAMP},
		   	#{expiryDate,jdbcType=TIMESTAMP},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_CAS_COMPANY_APP.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.CasCompanyApp">
		UPDATE CAS_COMPANY_APP
		<set>
			<if test="appId != null">
				APP_ID = #{appId,jdbcType=BIGINT},
			</if>
			<if test="effectiveDate != null">
				EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expiryDate != null">
				EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.CasCompanyApp">
		UPDATE CAS_COMPANY_APP
		<set>
			APP_ID = #{appId,jdbcType=BIGINT},
			EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
			EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.CasCompanyApp">
		UPDATE CAS_COMPANY_APP
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       APP_ID appId,
		       EFFECTIVE_DATE effectiveDate,
		       EXPIRY_DATE expiryDate,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.CasCompanyApp">
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.CasCompanyApp" resultType="com.zhiyun.entity.CasCompanyApp">
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="appId != null">
				AND APP_ID = #{appId,jdbcType=BIGINT}
			</if>
			<if test="effectiveDate != null">
				AND EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP}
			</if>
			<if test="expiryDate != null">
				AND EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.CasCompanyApp">
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.appId != null">
					AND APP_ID = #{entity.appId,jdbcType=BIGINT}
				</if>
				<if test="entity.effectiveDate != null">
					AND EFFECTIVE_DATE = #{entity.effectiveDate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.expiryDate != null">
					AND EXPIRY_DATE = #{entity.expiryDate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM CAS_COMPANY_APP
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.CasCompanyApp">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM CAS_COMPANY_APP
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="appId != null">
				AND APP_ID = #{appId,jdbcType=BIGINT}
			</if>
			<if test="effectiveDate != null">
				AND EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP}
			</if>
			<if test="expiryDate != null">
				AND EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO CAS_COMPANY_APP (
		   	ID,
		   	APP_ID,
		   	EFFECTIVE_DATE,
		   	EXPIRY_DATE,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ appId,jdbcType=BIGINT},
		   	#{ effectiveDate,jdbcType=TIMESTAMP},
		   	#{ expiryDate,jdbcType=TIMESTAMP},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_CAS_COMPANY_APP.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE CAS_COMPANY_APP
		<set>
			<if test="appId != null">
				APP_ID = #{appId,jdbcType=BIGINT},
			</if>
			<if test="effectiveDate != null">
				EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expiryDate != null">
				EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
