<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.IcloudHtmlconfigDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.IcloudHtmlconfig">
		INSERT INTO ICLOUD_HTMLCONFIG (
		   	NAMESPACE,
		   	GROUPID,
		   	CREATEDATE,
		   	MODIFIEDDATE,
		   	HTML,
		   	CSS,
		   	JS
		) VALUES (
		   	#{namespace,jdbcType=VARCHAR},
		   	#{groupid,jdbcType=BIGINT},
		   	#{createdate,jdbcType=DATETIME},
		   	#{modifieddate,jdbcType=DATETIME},
		   	#{html,jdbcType=LONGTEXT},
		   	#{css,jdbcType=LONGTEXT},
		   	#{js,jdbcType=LONGTEXT}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_HTMLCONFIG.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.IcloudHtmlconfig">
		UPDATE ICLOUD_HTMLCONFIG
		<set>
			<if test="namespace != null">
				NAMESPACE = #{namespace,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				GROUPID = #{groupid,jdbcType=BIGINT},
			</if>
			<if test="createdate != null">
				CREATEDATE = #{createdate,jdbcType=DATETIME},
			</if>
			<if test="modifieddate != null">
				MODIFIEDDATE = #{modifieddate,jdbcType=DATETIME},
			</if>
			<if test="html != null">
				HTML = #{html,jdbcType=LONGTEXT},
			</if>
			<if test="css != null">
				CSS = #{css,jdbcType=LONGTEXT},
			</if>
			<if test="js != null">
				JS = #{js,jdbcType=LONGTEXT},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.IcloudHtmlconfig">
		UPDATE ICLOUD_HTMLCONFIG
		<set>
			NAMESPACE = #{namespace,jdbcType=VARCHAR},
			GROUPID = #{groupid,jdbcType=BIGINT},
			CREATEDATE = #{createdate,jdbcType=DATETIME},
			MODIFIEDDATE = #{modifieddate,jdbcType=DATETIME},
			HTML = #{html,jdbcType=LONGTEXT},
			CSS = #{css,jdbcType=LONGTEXT},
			JS = #{js,jdbcType=LONGTEXT},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.IcloudHtmlconfig">
		DELETE FROM ICLOUD_HTMLCONFIG WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       NAMESPACE namespace,
		       GROUPID groupid,
		       CREATEDATE createdate,
		       MODIFIEDDATE modifieddate,
		       HTML html,
		       CSS css,
		       JS js
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.IcloudHtmlconfig">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
		 WHERE ID = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.IcloudHtmlconfig" resultType="com.zhiyun.entity.IcloudHtmlconfig">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="namespace != null and namespace != ''">
				AND NAMESPACE = #{namespace,jdbcType=VARCHAR}
			</if>
			<if test="groupid != null">
				AND GROUPID = #{groupid,jdbcType=BIGINT}
			</if>
			<if test="createdate != null">
				AND CREATEDATE = #{createdate,jdbcType=DATETIME}
			</if>
			<if test="modifieddate != null">
				AND MODIFIEDDATE = #{modifieddate,jdbcType=DATETIME}
			</if>
			<if test="html != null and html != ''">
				AND HTML = #{html,jdbcType=LONGTEXT}
			</if>
			<if test="css != null and css != ''">
				AND CSS = #{css,jdbcType=LONGTEXT}
			</if>
			<if test="js != null and js != ''">
				AND JS = #{js,jdbcType=LONGTEXT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.IcloudHtmlconfig">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.namespace != null and entity.namespace != ''">
					AND NAMESPACE = #{entity.namespace,jdbcType=VARCHAR}
				</if>
				<if test="entity.groupid != null">
					AND GROUPID = #{entity.groupid,jdbcType=BIGINT}
				</if>
				<if test="entity.createdate != null">
					AND CREATEDATE = #{entity.createdate,jdbcType=DATETIME}
				</if>
				<if test="entity.modifieddate != null">
					AND MODIFIEDDATE = #{entity.modifieddate,jdbcType=DATETIME}
				</if>
				<if test="entity.html != null and entity.html != ''">
					AND HTML = #{entity.html,jdbcType=LONGTEXT}
				</if>
				<if test="entity.css != null and entity.css != ''">
					AND CSS = #{entity.css,jdbcType=LONGTEXT}
				</if>
				<if test="entity.js != null and entity.js != ''">
					AND JS = #{entity.js,jdbcType=LONGTEXT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM ICLOUD_HTMLCONFIG
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.IcloudHtmlconfig">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_HTMLCONFIG
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="namespace != null and namespace != ''">
				AND NAMESPACE = #{namespace,jdbcType=VARCHAR}
			</if>
			<if test="groupid != null">
				AND GROUPID = #{groupid,jdbcType=BIGINT}
			</if>
			<if test="createdate != null">
				AND CREATEDATE = #{createdate,jdbcType=DATETIME}
			</if>
			<if test="modifieddate != null">
				AND MODIFIEDDATE = #{modifieddate,jdbcType=DATETIME}
			</if>
			<if test="html != null and html != ''">
				AND HTML = #{html,jdbcType=LONGTEXT}
			</if>
			<if test="css != null and css != ''">
				AND CSS = #{css,jdbcType=LONGTEXT}
			</if>
			<if test="js != null and js != ''">
				AND JS = #{js,jdbcType=LONGTEXT}
			</if>
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO ICLOUD_HTMLCONFIG (
		   	NAMESPACE,
		   	GROUPID,
		   	CREATEDATE,
		   	MODIFIEDDATE,
		   	HTML,
		   	CSS,
		   	JS
		) VALUES (
		   	#{ namespace,jdbcType=VARCHAR},
		   	#{ groupid,jdbcType=BIGINT},
		   	#{ createdate,jdbcType=DATETIME},
		   	#{ modifieddate,jdbcType=DATETIME},
		   	#{ html,jdbcType=LONGTEXT},
		   	#{ css,jdbcType=LONGTEXT},
		   	#{ js,jdbcType=LONGTEXT}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_HTMLCONFIG.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE ICLOUD_HTMLCONFIG
		<set>
			<if test="namespace != null">
				NAMESPACE = #{namespace,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				GROUPID = #{groupid,jdbcType=BIGINT},
			</if>
			<if test="createdate != null">
				CREATEDATE = #{createdate,jdbcType=DATETIME},
			</if>
			<if test="modifieddate != null">
				MODIFIEDDATE = #{modifieddate,jdbcType=DATETIME},
			</if>
			<if test="html != null">
				HTML = #{html,jdbcType=LONGTEXT},
			</if>
			<if test="css != null">
				CSS = #{css,jdbcType=LONGTEXT},
			</if>
			<if test="js != null">
				JS = #{js,jdbcType=LONGTEXT},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
