<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.IcloudUserOnicloudDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.IcloudUserOnicloud">
		INSERT INTO ICLOUD_USER_ONICLOUD (
		   	ID,
		   	USER_ID,
		   	ONICLOUD_ID
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{userId,jdbcType=BIGINT},
		   	#{onicloudId,jdbcType=BIGINT}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_USER_ONICLOUD.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.IcloudUserOnicloud">
		UPDATE ICLOUD_USER_ONICLOUD
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="onicloudId != null">
				ONICLOUD_ID = #{onicloudId,jdbcType=BIGINT},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.IcloudUserOnicloud">
		UPDATE ICLOUD_USER_ONICLOUD
		<set>
			USER_ID = #{userId,jdbcType=BIGINT},
			ONICLOUD_ID = #{onicloudId,jdbcType=BIGINT},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.IcloudUserOnicloud">
		DELETE FROM ICLOUD_USER_ONICLOUD WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       USER_ID userId,
		       ONICLOUD_ID onicloudId
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.IcloudUserOnicloud">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
		 WHERE ID = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.IcloudUserOnicloud" resultType="com.zhiyun.entity.IcloudUserOnicloud">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="onicloudId != null">
				AND ONICLOUD_ID = #{onicloudId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.IcloudUserOnicloud">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userId != null">
					AND USER_ID = #{entity.userId,jdbcType=BIGINT}
				</if>
				<if test="entity.onicloudId != null">
					AND ONICLOUD_ID = #{entity.onicloudId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM ICLOUD_USER_ONICLOUD
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.IcloudUserOnicloud">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_USER_ONICLOUD
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="onicloudId != null">
				AND ONICLOUD_ID = #{onicloudId,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO ICLOUD_USER_ONICLOUD (
		   	ID,
		   	USER_ID,
		   	ONICLOUD_ID
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ userId,jdbcType=BIGINT},
		   	#{ onicloudId,jdbcType=BIGINT}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_USER_ONICLOUD.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE ICLOUD_USER_ONICLOUD
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="onicloudId != null">
				ONICLOUD_ID = #{onicloudId,jdbcType=BIGINT},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
