<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.IcloudApplicationagencyDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.IcloudApplicationagency">
		INSERT INTO ICLOUD_APPLICATIONAGENCY (
		   	ID,
		   	USER_ID,
		   	NAME,
		   	AGENCY_TYPE,
		   	AGENCY_LEVEL,
		   	AGENCY_AREA,
		   	QUALITY_IMAGE_SHARE_URL,
		   	STATUS,
		   	CREATE_TIME,
		   	MODIFY_TIME,
		   	DELETED,
		   	CREATE_BY,
		   	MODIFY_BY,
		   	ORGANIZATION_ID,
		   	SENDED,
		   	UPDATED,
		   	APPROVAL_OPINION
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{userId,jdbcType=BIGINT},
		   	#{name,jdbcType=VARCHAR},
		   	#{agencyType,jdbcType=VARCHAR},
		   	#{agencyLevel,jdbcType=VARCHAR},
		   	#{agencyArea,jdbcType=VARCHAR},
		   	#{qualityImageShareUrl,jdbcType=VARCHAR},
		   	#{status,jdbcType=INTEGER},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{organizationId,jdbcType=BIGINT},
		   	#{sended,jdbcType=VARCHAR},
		   	#{updated,jdbcType=VARCHAR},
		   	#{approvalOpinion,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_APPLICATIONAGENCY.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.IcloudApplicationagency">
		UPDATE ICLOUD_APPLICATIONAGENCY
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="agencyType != null">
				AGENCY_TYPE = #{agencyType,jdbcType=VARCHAR},
			</if>
			<if test="agencyLevel != null">
				AGENCY_LEVEL = #{agencyLevel,jdbcType=VARCHAR},
			</if>
			<if test="agencyArea != null">
				AGENCY_AREA = #{agencyArea,jdbcType=VARCHAR},
			</if>
			<if test="qualityImageShareUrl != null">
				QUALITY_IMAGE_SHARE_URL = #{qualityImageShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="organizationId != null">
				ORGANIZATION_ID = #{organizationId,jdbcType=BIGINT},
			</if>
			<if test="sended != null">
				SENDED = #{sended,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				UPDATED = #{updated,jdbcType=VARCHAR},
			</if>
			<if test="approvalOpinion != null">
				APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.IcloudApplicationagency">
		UPDATE ICLOUD_APPLICATIONAGENCY
		<set>
			USER_ID = #{userId,jdbcType=BIGINT},
			NAME = #{name,jdbcType=VARCHAR},
			AGENCY_TYPE = #{agencyType,jdbcType=VARCHAR},
			AGENCY_LEVEL = #{agencyLevel,jdbcType=VARCHAR},
			AGENCY_AREA = #{agencyArea,jdbcType=VARCHAR},
			QUALITY_IMAGE_SHARE_URL = #{qualityImageShareUrl,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=INTEGER},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			DELETED = #{deleted,jdbcType=VARCHAR},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			ORGANIZATION_ID = #{organizationId,jdbcType=BIGINT},
			SENDED = #{sended,jdbcType=VARCHAR},
			UPDATED = #{updated,jdbcType=VARCHAR},
			APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.IcloudApplicationagency">
		UPDATE ICLOUD_APPLICATIONAGENCY
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       USER_ID userId,
		       NAME name,
		       AGENCY_TYPE agencyType,
		       AGENCY_LEVEL agencyLevel,
		       AGENCY_AREA agencyArea,
		       QUALITY_IMAGE_SHARE_URL qualityImageShareUrl,
		       STATUS status,
		       CREATE_TIME createTime,
		       MODIFY_TIME modifyTime,
		       DELETED deleted,
		       CREATE_BY createBy,
		       MODIFY_BY modifyBy,
		       ORGANIZATION_ID organizationId,
		       SENDED sended,
		       UPDATED updated,
		       APPROVAL_OPINION approvalOpinion
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.IcloudApplicationagency">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.IcloudApplicationagency" resultType="com.zhiyun.entity.IcloudApplicationagency">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="agencyType != null and agencyType != ''">
				AND AGENCY_TYPE = #{agencyType,jdbcType=VARCHAR}
			</if>
			<if test="agencyLevel != null and agencyLevel != ''">
				AND AGENCY_LEVEL = #{agencyLevel,jdbcType=VARCHAR}
			</if>
			<if test="agencyArea != null and agencyArea != ''">
				AND AGENCY_AREA = #{agencyArea,jdbcType=VARCHAR}
			</if>
			<if test="qualityImageShareUrl != null and qualityImageShareUrl != ''">
				AND QUALITY_IMAGE_SHARE_URL = #{qualityImageShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND STATUS = #{status,jdbcType=INTEGER}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="organizationId != null">
				AND ORGANIZATION_ID = #{organizationId,jdbcType=BIGINT}
			</if>
			<if test="sended != null and sended != ''">
				AND SENDED = #{sended,jdbcType=VARCHAR}
			</if>
			<if test="updated != null and updated != ''">
				AND UPDATED = #{updated,jdbcType=VARCHAR}
			</if>
			<if test="approvalOpinion != null and approvalOpinion != ''">
				AND APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.IcloudApplicationagency">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userId != null">
					AND USER_ID = #{entity.userId,jdbcType=BIGINT}
				</if>
				<if test="entity.name != null and entity.name != ''">
					AND NAME = #{entity.name,jdbcType=VARCHAR}
				</if>
				<if test="entity.agencyType != null and entity.agencyType != ''">
					AND AGENCY_TYPE = #{entity.agencyType,jdbcType=VARCHAR}
				</if>
				<if test="entity.agencyLevel != null and entity.agencyLevel != ''">
					AND AGENCY_LEVEL = #{entity.agencyLevel,jdbcType=VARCHAR}
				</if>
				<if test="entity.agencyArea != null and entity.agencyArea != ''">
					AND AGENCY_AREA = #{entity.agencyArea,jdbcType=VARCHAR}
				</if>
				<if test="entity.qualityImageShareUrl != null and entity.qualityImageShareUrl != ''">
					AND QUALITY_IMAGE_SHARE_URL = #{entity.qualityImageShareUrl,jdbcType=VARCHAR}
				</if>
				<if test="entity.status != null">
					AND STATUS = #{entity.status,jdbcType=INTEGER}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.organizationId != null">
					AND ORGANIZATION_ID = #{entity.organizationId,jdbcType=BIGINT}
				</if>
				<if test="entity.sended != null and entity.sended != ''">
					AND SENDED = #{entity.sended,jdbcType=VARCHAR}
				</if>
				<if test="entity.updated != null and entity.updated != ''">
					AND UPDATED = #{entity.updated,jdbcType=VARCHAR}
				</if>
				<if test="entity.approvalOpinion != null and entity.approvalOpinion != ''">
					AND APPROVAL_OPINION = #{entity.approvalOpinion,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM ICLOUD_APPLICATIONAGENCY
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.IcloudApplicationagency">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_APPLICATIONAGENCY
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="agencyType != null and agencyType != ''">
				AND AGENCY_TYPE = #{agencyType,jdbcType=VARCHAR}
			</if>
			<if test="agencyLevel != null and agencyLevel != ''">
				AND AGENCY_LEVEL = #{agencyLevel,jdbcType=VARCHAR}
			</if>
			<if test="agencyArea != null and agencyArea != ''">
				AND AGENCY_AREA = #{agencyArea,jdbcType=VARCHAR}
			</if>
			<if test="qualityImageShareUrl != null and qualityImageShareUrl != ''">
				AND QUALITY_IMAGE_SHARE_URL = #{qualityImageShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND STATUS = #{status,jdbcType=INTEGER}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="organizationId != null">
				AND ORGANIZATION_ID = #{organizationId,jdbcType=BIGINT}
			</if>
			<if test="sended != null and sended != ''">
				AND SENDED = #{sended,jdbcType=VARCHAR}
			</if>
			<if test="updated != null and updated != ''">
				AND UPDATED = #{updated,jdbcType=VARCHAR}
			</if>
			<if test="approvalOpinion != null and approvalOpinion != ''">
				AND APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO ICLOUD_APPLICATIONAGENCY (
		   	ID,
		   	USER_ID,
		   	NAME,
		   	AGENCY_TYPE,
		   	AGENCY_LEVEL,
		   	AGENCY_AREA,
		   	QUALITY_IMAGE_SHARE_URL,
		   	STATUS,
		   	CREATE_TIME,
		   	MODIFY_TIME,
		   	DELETED,
		   	CREATE_BY,
		   	MODIFY_BY,
		   	ORGANIZATION_ID,
		   	SENDED,
		   	UPDATED,
		   	APPROVAL_OPINION
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ userId,jdbcType=BIGINT},
		   	#{ name,jdbcType=VARCHAR},
		   	#{ agencyType,jdbcType=VARCHAR},
		   	#{ agencyLevel,jdbcType=VARCHAR},
		   	#{ agencyArea,jdbcType=VARCHAR},
		   	#{ qualityImageShareUrl,jdbcType=VARCHAR},
		   	#{ status,jdbcType=INTEGER},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyBy,jdbcType=VARCHAR},
		   	#{ organizationId,jdbcType=BIGINT},
		   	#{ sended,jdbcType=VARCHAR},
		   	#{ updated,jdbcType=VARCHAR},
		   	#{ approvalOpinion,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_APPLICATIONAGENCY.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE ICLOUD_APPLICATIONAGENCY
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="agencyType != null">
				AGENCY_TYPE = #{agencyType,jdbcType=VARCHAR},
			</if>
			<if test="agencyLevel != null">
				AGENCY_LEVEL = #{agencyLevel,jdbcType=VARCHAR},
			</if>
			<if test="agencyArea != null">
				AGENCY_AREA = #{agencyArea,jdbcType=VARCHAR},
			</if>
			<if test="qualityImageShareUrl != null">
				QUALITY_IMAGE_SHARE_URL = #{qualityImageShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="organizationId != null">
				ORGANIZATION_ID = #{organizationId,jdbcType=BIGINT},
			</if>
			<if test="sended != null">
				SENDED = #{sended,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				UPDATED = #{updated,jdbcType=VARCHAR},
			</if>
			<if test="approvalOpinion != null">
				APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
