<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.IcloudEnterpriseauthDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.IcloudEnterpriseauth">
		INSERT INTO ICLOUD_ENTERPRISEAUTH (
		   	ID,
		   	USER_ID,
		   	NAME,
		   	PROVINCE,
		   	CITY,
		   	DISTRICT,
		   	DETAILED_ADDRESS,
		   	CONTACT_PERSON,
		   	CONTACT_PHONE,
		   	LEGAL_PERSON,
		   	LEGAL_PERSON_PHONE,
		   	LEGAL_PERSON_IDENTITY_CARD,
		   	CERTIFICATE_POSITIVE_SHARE_URL,
		   	CERTIFICATE_NEGATIVE_SHARE_URL,
		   	SOCIAL_CREDIT_CODE,
		   	BUSINESS_LICENCE_SHARE_URL,
		   	STATUS,
		   	CREATE_TIME,
		   	MODIFY_TIME,
		   	DELETED,
		   	CREATE_BY,
		   	MODIFY_BY,
		   	SENDED,
		   	UPDATED,
		   	APPROVAL_OPINION,
		   	TRADE,
		   	LEGAL_PERSON_IDENTITY_TYPE
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{userId,jdbcType=BIGINT},
		   	#{name,jdbcType=VARCHAR},
		   	#{province,jdbcType=VARCHAR},
		   	#{city,jdbcType=VARCHAR},
		   	#{district,jdbcType=VARCHAR},
		   	#{detailedAddress,jdbcType=VARCHAR},
		   	#{contactPerson,jdbcType=VARCHAR},
		   	#{contactPhone,jdbcType=VARCHAR},
		   	#{legalPerson,jdbcType=VARCHAR},
		   	#{legalPersonPhone,jdbcType=VARCHAR},
		   	#{legalPersonIdentityCard,jdbcType=VARCHAR},
		   	#{certificatePositiveShareUrl,jdbcType=VARCHAR},
		   	#{certificateNegativeShareUrl,jdbcType=VARCHAR},
		   	#{socialCreditCode,jdbcType=VARCHAR},
		   	#{businessLicenceShareUrl,jdbcType=VARCHAR},
		   	#{status,jdbcType=INTEGER},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{sended,jdbcType=VARCHAR},
		   	#{updated,jdbcType=VARCHAR},
		   	#{approvalOpinion,jdbcType=VARCHAR},
		   	#{trade,jdbcType=INTEGER},
		   	#{legalPersonIdentityType,jdbcType=INTEGER}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_ENTERPRISEAUTH.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.IcloudEnterpriseauth">
		UPDATE ICLOUD_ENTERPRISEAUTH
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				DISTRICT = #{district,jdbcType=VARCHAR},
			</if>
			<if test="detailedAddress != null">
				DETAILED_ADDRESS = #{detailedAddress,jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null">
				CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
			</if>
			<if test="contactPhone != null">
				CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
			</if>
			<if test="legalPerson != null">
				LEGAL_PERSON = #{legalPerson,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonPhone != null">
				LEGAL_PERSON_PHONE = #{legalPersonPhone,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonIdentityCard != null">
				LEGAL_PERSON_IDENTITY_CARD = #{legalPersonIdentityCard,jdbcType=VARCHAR},
			</if>
			<if test="certificatePositiveShareUrl != null">
				CERTIFICATE_POSITIVE_SHARE_URL = #{certificatePositiveShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="certificateNegativeShareUrl != null">
				CERTIFICATE_NEGATIVE_SHARE_URL = #{certificateNegativeShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="socialCreditCode != null">
				SOCIAL_CREDIT_CODE = #{socialCreditCode,jdbcType=VARCHAR},
			</if>
			<if test="businessLicenceShareUrl != null">
				BUSINESS_LICENCE_SHARE_URL = #{businessLicenceShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="sended != null">
				SENDED = #{sended,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				UPDATED = #{updated,jdbcType=VARCHAR},
			</if>
			<if test="approvalOpinion != null">
				APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
			</if>
			<if test="trade != null">
				TRADE = #{trade,jdbcType=INTEGER},
			</if>
			<if test="legalPersonIdentityType != null">
				LEGAL_PERSON_IDENTITY_TYPE = #{legalPersonIdentityType,jdbcType=INTEGER},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.IcloudEnterpriseauth">
		UPDATE ICLOUD_ENTERPRISEAUTH
		<set>
			USER_ID = #{userId,jdbcType=BIGINT},
			NAME = #{name,jdbcType=VARCHAR},
			PROVINCE = #{province,jdbcType=VARCHAR},
			CITY = #{city,jdbcType=VARCHAR},
			DISTRICT = #{district,jdbcType=VARCHAR},
			DETAILED_ADDRESS = #{detailedAddress,jdbcType=VARCHAR},
			CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
			CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
			LEGAL_PERSON = #{legalPerson,jdbcType=VARCHAR},
			LEGAL_PERSON_PHONE = #{legalPersonPhone,jdbcType=VARCHAR},
			LEGAL_PERSON_IDENTITY_CARD = #{legalPersonIdentityCard,jdbcType=VARCHAR},
			CERTIFICATE_POSITIVE_SHARE_URL = #{certificatePositiveShareUrl,jdbcType=VARCHAR},
			CERTIFICATE_NEGATIVE_SHARE_URL = #{certificateNegativeShareUrl,jdbcType=VARCHAR},
			SOCIAL_CREDIT_CODE = #{socialCreditCode,jdbcType=VARCHAR},
			BUSINESS_LICENCE_SHARE_URL = #{businessLicenceShareUrl,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=INTEGER},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			DELETED = #{deleted,jdbcType=VARCHAR},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			SENDED = #{sended,jdbcType=VARCHAR},
			UPDATED = #{updated,jdbcType=VARCHAR},
			APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
			TRADE = #{trade,jdbcType=INTEGER},
			LEGAL_PERSON_IDENTITY_TYPE = #{legalPersonIdentityType,jdbcType=INTEGER},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.IcloudEnterpriseauth">
		UPDATE ICLOUD_ENTERPRISEAUTH
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       USER_ID userId,
		       NAME name,
		       PROVINCE province,
		       CITY city,
		       DISTRICT district,
		       DETAILED_ADDRESS detailedAddress,
		       CONTACT_PERSON contactPerson,
		       CONTACT_PHONE contactPhone,
		       LEGAL_PERSON legalPerson,
		       LEGAL_PERSON_PHONE legalPersonPhone,
		       LEGAL_PERSON_IDENTITY_CARD legalPersonIdentityCard,
		       CERTIFICATE_POSITIVE_SHARE_URL certificatePositiveShareUrl,
		       CERTIFICATE_NEGATIVE_SHARE_URL certificateNegativeShareUrl,
		       SOCIAL_CREDIT_CODE socialCreditCode,
		       BUSINESS_LICENCE_SHARE_URL businessLicenceShareUrl,
		       STATUS status,
		       CREATE_TIME createTime,
		       MODIFY_TIME modifyTime,
		       DELETED deleted,
		       CREATE_BY createBy,
		       MODIFY_BY modifyBy,
		       SENDED sended,
		       UPDATED updated,
		       APPROVAL_OPINION approvalOpinion,
		       TRADE trade,
		       LEGAL_PERSON_IDENTITY_TYPE legalPersonIdentityType
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.IcloudEnterpriseauth">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.IcloudEnterpriseauth" resultType="com.zhiyun.entity.IcloudEnterpriseauth">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="province != null and province != ''">
				AND PROVINCE = #{province,jdbcType=VARCHAR}
			</if>
			<if test="city != null and city != ''">
				AND CITY = #{city,jdbcType=VARCHAR}
			</if>
			<if test="district != null and district != ''">
				AND DISTRICT = #{district,jdbcType=VARCHAR}
			</if>
			<if test="detailedAddress != null and detailedAddress != ''">
				AND DETAILED_ADDRESS = #{detailedAddress,jdbcType=VARCHAR}
			</if>
			<if test="contactPerson != null and contactPerson != ''">
				AND CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR}
			</if>
			<if test="contactPhone != null and contactPhone != ''">
				AND CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR}
			</if>
			<if test="legalPerson != null and legalPerson != ''">
				AND LEGAL_PERSON = #{legalPerson,jdbcType=VARCHAR}
			</if>
			<if test="legalPersonPhone != null and legalPersonPhone != ''">
				AND LEGAL_PERSON_PHONE = #{legalPersonPhone,jdbcType=VARCHAR}
			</if>
			<if test="legalPersonIdentityCard != null and legalPersonIdentityCard != ''">
				AND LEGAL_PERSON_IDENTITY_CARD = #{legalPersonIdentityCard,jdbcType=VARCHAR}
			</if>
			<if test="certificatePositiveShareUrl != null and certificatePositiveShareUrl != ''">
				AND CERTIFICATE_POSITIVE_SHARE_URL = #{certificatePositiveShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="certificateNegativeShareUrl != null and certificateNegativeShareUrl != ''">
				AND CERTIFICATE_NEGATIVE_SHARE_URL = #{certificateNegativeShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="socialCreditCode != null and socialCreditCode != ''">
				AND SOCIAL_CREDIT_CODE = #{socialCreditCode,jdbcType=VARCHAR}
			</if>
			<if test="businessLicenceShareUrl != null and businessLicenceShareUrl != ''">
				AND BUSINESS_LICENCE_SHARE_URL = #{businessLicenceShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND STATUS = #{status,jdbcType=INTEGER}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="sended != null and sended != ''">
				AND SENDED = #{sended,jdbcType=VARCHAR}
			</if>
			<if test="updated != null and updated != ''">
				AND UPDATED = #{updated,jdbcType=VARCHAR}
			</if>
			<if test="approvalOpinion != null and approvalOpinion != ''">
				AND APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR}
			</if>
			<if test="trade != null">
				AND TRADE = #{trade,jdbcType=INTEGER}
			</if>
			<if test="legalPersonIdentityType != null">
				AND LEGAL_PERSON_IDENTITY_TYPE = #{legalPersonIdentityType,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.IcloudEnterpriseauth">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userId != null">
					AND USER_ID = #{entity.userId,jdbcType=BIGINT}
				</if>
				<if test="entity.name != null and entity.name != ''">
					AND NAME = #{entity.name,jdbcType=VARCHAR}
				</if>
				<if test="entity.province != null and entity.province != ''">
					AND PROVINCE = #{entity.province,jdbcType=VARCHAR}
				</if>
				<if test="entity.city != null and entity.city != ''">
					AND CITY = #{entity.city,jdbcType=VARCHAR}
				</if>
				<if test="entity.district != null and entity.district != ''">
					AND DISTRICT = #{entity.district,jdbcType=VARCHAR}
				</if>
				<if test="entity.detailedAddress != null and entity.detailedAddress != ''">
					AND DETAILED_ADDRESS = #{entity.detailedAddress,jdbcType=VARCHAR}
				</if>
				<if test="entity.contactPerson != null and entity.contactPerson != ''">
					AND CONTACT_PERSON = #{entity.contactPerson,jdbcType=VARCHAR}
				</if>
				<if test="entity.contactPhone != null and entity.contactPhone != ''">
					AND CONTACT_PHONE = #{entity.contactPhone,jdbcType=VARCHAR}
				</if>
				<if test="entity.legalPerson != null and entity.legalPerson != ''">
					AND LEGAL_PERSON = #{entity.legalPerson,jdbcType=VARCHAR}
				</if>
				<if test="entity.legalPersonPhone != null and entity.legalPersonPhone != ''">
					AND LEGAL_PERSON_PHONE = #{entity.legalPersonPhone,jdbcType=VARCHAR}
				</if>
				<if test="entity.legalPersonIdentityCard != null and entity.legalPersonIdentityCard != ''">
					AND LEGAL_PERSON_IDENTITY_CARD = #{entity.legalPersonIdentityCard,jdbcType=VARCHAR}
				</if>
				<if test="entity.certificatePositiveShareUrl != null and entity.certificatePositiveShareUrl != ''">
					AND CERTIFICATE_POSITIVE_SHARE_URL = #{entity.certificatePositiveShareUrl,jdbcType=VARCHAR}
				</if>
				<if test="entity.certificateNegativeShareUrl != null and entity.certificateNegativeShareUrl != ''">
					AND CERTIFICATE_NEGATIVE_SHARE_URL = #{entity.certificateNegativeShareUrl,jdbcType=VARCHAR}
				</if>
				<if test="entity.socialCreditCode != null and entity.socialCreditCode != ''">
					AND SOCIAL_CREDIT_CODE = #{entity.socialCreditCode,jdbcType=VARCHAR}
				</if>
				<if test="entity.businessLicenceShareUrl != null and entity.businessLicenceShareUrl != ''">
					AND BUSINESS_LICENCE_SHARE_URL = #{entity.businessLicenceShareUrl,jdbcType=VARCHAR}
				</if>
				<if test="entity.status != null">
					AND STATUS = #{entity.status,jdbcType=INTEGER}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.sended != null and entity.sended != ''">
					AND SENDED = #{entity.sended,jdbcType=VARCHAR}
				</if>
				<if test="entity.updated != null and entity.updated != ''">
					AND UPDATED = #{entity.updated,jdbcType=VARCHAR}
				</if>
				<if test="entity.approvalOpinion != null and entity.approvalOpinion != ''">
					AND APPROVAL_OPINION = #{entity.approvalOpinion,jdbcType=VARCHAR}
				</if>
				<if test="entity.trade != null">
					AND TRADE = #{entity.trade,jdbcType=INTEGER}
				</if>
				<if test="entity.legalPersonIdentityType != null">
					AND LEGAL_PERSON_IDENTITY_TYPE = #{entity.legalPersonIdentityType,jdbcType=INTEGER}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM ICLOUD_ENTERPRISEAUTH
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.IcloudEnterpriseauth">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM ICLOUD_ENTERPRISEAUTH
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=BIGINT}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="province != null and province != ''">
				AND PROVINCE = #{province,jdbcType=VARCHAR}
			</if>
			<if test="city != null and city != ''">
				AND CITY = #{city,jdbcType=VARCHAR}
			</if>
			<if test="district != null and district != ''">
				AND DISTRICT = #{district,jdbcType=VARCHAR}
			</if>
			<if test="detailedAddress != null and detailedAddress != ''">
				AND DETAILED_ADDRESS = #{detailedAddress,jdbcType=VARCHAR}
			</if>
			<if test="contactPerson != null and contactPerson != ''">
				AND CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR}
			</if>
			<if test="contactPhone != null and contactPhone != ''">
				AND CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR}
			</if>
			<if test="legalPerson != null and legalPerson != ''">
				AND LEGAL_PERSON = #{legalPerson,jdbcType=VARCHAR}
			</if>
			<if test="legalPersonPhone != null and legalPersonPhone != ''">
				AND LEGAL_PERSON_PHONE = #{legalPersonPhone,jdbcType=VARCHAR}
			</if>
			<if test="legalPersonIdentityCard != null and legalPersonIdentityCard != ''">
				AND LEGAL_PERSON_IDENTITY_CARD = #{legalPersonIdentityCard,jdbcType=VARCHAR}
			</if>
			<if test="certificatePositiveShareUrl != null and certificatePositiveShareUrl != ''">
				AND CERTIFICATE_POSITIVE_SHARE_URL = #{certificatePositiveShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="certificateNegativeShareUrl != null and certificateNegativeShareUrl != ''">
				AND CERTIFICATE_NEGATIVE_SHARE_URL = #{certificateNegativeShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="socialCreditCode != null and socialCreditCode != ''">
				AND SOCIAL_CREDIT_CODE = #{socialCreditCode,jdbcType=VARCHAR}
			</if>
			<if test="businessLicenceShareUrl != null and businessLicenceShareUrl != ''">
				AND BUSINESS_LICENCE_SHARE_URL = #{businessLicenceShareUrl,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND STATUS = #{status,jdbcType=INTEGER}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="sended != null and sended != ''">
				AND SENDED = #{sended,jdbcType=VARCHAR}
			</if>
			<if test="updated != null and updated != ''">
				AND UPDATED = #{updated,jdbcType=VARCHAR}
			</if>
			<if test="approvalOpinion != null and approvalOpinion != ''">
				AND APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR}
			</if>
			<if test="trade != null">
				AND TRADE = #{trade,jdbcType=INTEGER}
			</if>
			<if test="legalPersonIdentityType != null">
				AND LEGAL_PERSON_IDENTITY_TYPE = #{legalPersonIdentityType,jdbcType=INTEGER}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO ICLOUD_ENTERPRISEAUTH (
		   	ID,
		   	USER_ID,
		   	NAME,
		   	PROVINCE,
		   	CITY,
		   	DISTRICT,
		   	DETAILED_ADDRESS,
		   	CONTACT_PERSON,
		   	CONTACT_PHONE,
		   	LEGAL_PERSON,
		   	LEGAL_PERSON_PHONE,
		   	LEGAL_PERSON_IDENTITY_CARD,
		   	CERTIFICATE_POSITIVE_SHARE_URL,
		   	CERTIFICATE_NEGATIVE_SHARE_URL,
		   	SOCIAL_CREDIT_CODE,
		   	BUSINESS_LICENCE_SHARE_URL,
		   	STATUS,
		   	CREATE_TIME,
		   	MODIFY_TIME,
		   	DELETED,
		   	CREATE_BY,
		   	MODIFY_BY,
		   	SENDED,
		   	UPDATED,
		   	APPROVAL_OPINION,
		   	TRADE,
		   	LEGAL_PERSON_IDENTITY_TYPE
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ userId,jdbcType=BIGINT},
		   	#{ name,jdbcType=VARCHAR},
		   	#{ province,jdbcType=VARCHAR},
		   	#{ city,jdbcType=VARCHAR},
		   	#{ district,jdbcType=VARCHAR},
		   	#{ detailedAddress,jdbcType=VARCHAR},
		   	#{ contactPerson,jdbcType=VARCHAR},
		   	#{ contactPhone,jdbcType=VARCHAR},
		   	#{ legalPerson,jdbcType=VARCHAR},
		   	#{ legalPersonPhone,jdbcType=VARCHAR},
		   	#{ legalPersonIdentityCard,jdbcType=VARCHAR},
		   	#{ certificatePositiveShareUrl,jdbcType=VARCHAR},
		   	#{ certificateNegativeShareUrl,jdbcType=VARCHAR},
		   	#{ socialCreditCode,jdbcType=VARCHAR},
		   	#{ businessLicenceShareUrl,jdbcType=VARCHAR},
		   	#{ status,jdbcType=INTEGER},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyBy,jdbcType=VARCHAR},
		   	#{ sended,jdbcType=VARCHAR},
		   	#{ updated,jdbcType=VARCHAR},
		   	#{ approvalOpinion,jdbcType=VARCHAR},
		   	#{ trade,jdbcType=INTEGER},
		   	#{ legalPersonIdentityType,jdbcType=INTEGER}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_ICLOUD_ENTERPRISEAUTH.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE ICLOUD_ENTERPRISEAUTH
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				DISTRICT = #{district,jdbcType=VARCHAR},
			</if>
			<if test="detailedAddress != null">
				DETAILED_ADDRESS = #{detailedAddress,jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null">
				CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
			</if>
			<if test="contactPhone != null">
				CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
			</if>
			<if test="legalPerson != null">
				LEGAL_PERSON = #{legalPerson,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonPhone != null">
				LEGAL_PERSON_PHONE = #{legalPersonPhone,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonIdentityCard != null">
				LEGAL_PERSON_IDENTITY_CARD = #{legalPersonIdentityCard,jdbcType=VARCHAR},
			</if>
			<if test="certificatePositiveShareUrl != null">
				CERTIFICATE_POSITIVE_SHARE_URL = #{certificatePositiveShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="certificateNegativeShareUrl != null">
				CERTIFICATE_NEGATIVE_SHARE_URL = #{certificateNegativeShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="socialCreditCode != null">
				SOCIAL_CREDIT_CODE = #{socialCreditCode,jdbcType=VARCHAR},
			</if>
			<if test="businessLicenceShareUrl != null">
				BUSINESS_LICENCE_SHARE_URL = #{businessLicenceShareUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="sended != null">
				SENDED = #{sended,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				UPDATED = #{updated,jdbcType=VARCHAR},
			</if>
			<if test="approvalOpinion != null">
				APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
			</if>
			<if test="trade != null">
				TRADE = #{trade,jdbcType=INTEGER},
			</if>
			<if test="legalPersonIdentityType != null">
				LEGAL_PERSON_IDENTITY_TYPE = #{legalPersonIdentityType,jdbcType=INTEGER},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
