<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <description>提供者配置</description>
	<!-- <dubbo:service interface="com.zhiyun.internal.server.gateway.TestInterface" ref="testInterface" executes="${dubbo.providerExecutes}" />
	<dubbo:service interface="com.zhiyun.internal.server.gateway.TestTwoInterface" ref="testTwoInterface" executes="${dubbo.providerExecutes}" /> -->
	<!-- 入驻 -->
	<dubbo:service interface="com.zhiyun.internal.server.icloud.service.ApplicationEntryInterface" ref="applicationEntryInterface" executes="${dubbo.providerExecutes}" />
	<!-- 企业认证 -->
	<dubbo:service interface="com.zhiyun.internal.server.icloud.service.EntrypriseAuthInterface" ref="entrypriseAuthInterface" executes="${dubbo.providerExecutes}" />
	<!-- 入市 -->
	<dubbo:service interface="com.zhiyun.internal.server.icloud.service.MarketEntryInterface" ref="marketEntryInterface" executes="${dubbo.providerExecutes}" />
	<!-- 个人认证 -->
	<dubbo:service interface="com.zhiyun.internal.server.icloud.service.PersonalAuthInterface" ref="personalAuthInterface" executes="${dubbo.providerExecutes}" />
	<!-- 用户信息 -->
	<dubbo:service interface="com.zhiyun.internal.server.icloud.service.UserInterface" ref="userInterface" executes="${dubbo.providerExecutes}" />
</beans>